html {
  font-family: Helvetica;
  display: inline-block;
}
body {
  width: 90vw;
  position: fixed;
  padding: 20px;
}
h2 {
  text-align: center;
  margin-top: 0;
}
.chart {
  width: 90vw;
  height: 35vh;;
}