html {
  font-family: Helvetica;
  display: inline-block;
}
body {
  width: 90vw;
  position: fixed;
  padding: 20px;
}
#live_data {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.sensor {
  background-color: lightgrey;
  padding: 10px;
  max-width: 400px;
  min-width: 100px;
  text-align: center;
}
.sensor_name {
  background-color: darkgrey;
  padding: 5px;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px grey;
}
.reading {
  background-color: white;
  padding: 2px;
}
.chart {
  width: 90vw;
  height: 30vh;
}