#ifndef __ARDUINO_SECRETS_H
#define __ARDUINO_SECRETS_H

const char WIFI_SSID[] = "foo";
const char WIFI_PASSWORD[] = "bar";
const char OTA_UPDATE_PWD[] = "baz";
const char MQTT_SERVER[] = "server.local";

#endif
